<% include partials/header %>
	<h1>Add Purchase</h1>

	<form method="POST" action="/purchase/add">
		<select name="sel_user_name">
			<% users.forEach(function(user){ %>
				<option value="<%= user.user_name %>" name="<%= user.user_name %>"><%= user.user_name %></option>
			<% }) %>
		</select>
		<br><br>
		<input type="number" name="amount" min="1">
		<br><br>
		<input type="submit">
	</form>


	<br><br>
	<h1><%= title %></h1>
	<ul>
	<% users.forEach(function(user){ %>
		<li><%= user.first_name %> <%= user.last_name %> <%= user.user_name %> - <a href="#" class="deleteUser" data-id="<%= user._id %>">Delete</a></li>
	<% }) %>
	</ul>
<% include partials/footer %>